.animate {
	&.intro {
		.intro {
			&-info {
				h1, h2, h4, p, ul {
					opacity: 0; transform: translateY(20px);
				}
			}
			&-progress {
				.card {
					opacity: 0; transform: translateX(20px);
					@include respond-to(md) {
						transform: translateY(20px);
					}
				}

				& > ul {
					li {
						opacity: 0; transform: translateX(-20px);

						&:last-child {
							transform: translateX(20px);
						}
					}
				}
			}
			&-partners {
				.owl-item {
					opacity: 0;
				}
			}
		}

		.timeline-discount {
			opacity: 0; transform: translateY(-20px);
		}
	}
	
	&.about {
		header {
			figure {
				&:after {
					left: 0;
				}
			}

			h2 {
				opacity: 0; transform: translateX(20px);
			}
		}

		section {
			p {
				opacity: 0;
			}
		}
	}

	&.for-clients {
		header {
			h2 {
				opacity: 0;
			}
		}

		section {
			& > div {
				& > h3, & > p, & > a, & > div {
					opacity: 0;
				}
			}
		}
	}

	&.benefits {
		header {
			h2 {
				opacity: 0;
			}
		}
		section {
			li {
				opacity: 0;
			}
		}
	}

	&.why-need {
		figure {
			transform: translateX(-20px); opacity: 0;
		}

		section {
			h2, h4, p {
				opacity: 0;
			}
		}
	}

	&.problems-solutions {
		h2 {
			opacity: 0;
		}

		ul {
			&.problems {
				li {
					&:before {
						height: 50%;
					}
				}
			}
			li {
				opacity: 0;
			}
		}
	}

	&.scheme {
		h2 {
			opacity: 0;
		}

		.tabs {
			li {
				opacity: 0;

				&:first-child {
					transform: translateX(20px);
				}
				&:last-child {
					transform: translateX(-20px);
				}
			}
		}

		.scheme-simple {
			header {
				ul {
					li {
						&:after {
							opacity: 0;
						}

						img {
							opacity: 0;
						}
					}
				}
			}

			section {
				li {
					opacity: 0;
				}
			}
		}
	}

	&.market {
		header {
			h2 {
				opacity: 0;
			}
		}

		section {
			&:before {
				right: calc(50% - 214px); opacity: 0;
			}
			&:after {
				left: calc(50% - 226px); opacity: 0;
			}

			ul {
				li {
					opacity: 0;
					&:first-child {
						transform: translateX(-20px);
					}
					&:last-child {
						transform: translateX(20px);
					}
				}
			}
		}
	}

	&.wr-worldmap {
		&:before, h3, p {
			opacity: 0;
		}
	}

	&.mvp {
		header {
			figure, h2, h3, a {
				opacity: 0;
			}
			figure {
				transform: translateX(-20px);
			}
		}

		section {
			p, ul {
				opacity: 0;
			}
		}
	}

	&.testimonials {
		header {
			figure, h3, p {
				opacity: 0;
			}

			h3, p {
				transform: translateX(20px);
			}
		}
		section {
			&:before, &:after, p {
				opacity: 0;
			}
			&:before {
				transform: translateY(20px);
			}
			&:after {
				transform: translateY(-20px) rotate(180deg);
			}
		}
		footer {
			opacity: 0;
		}
	}

	&.ico {
		header {
			h2, p, ul li {
				opacity: 0;
			}
		}
		section {
			figure, div {
				opacity: 0;
			}
			div {
				transform: translateY(20px);
				&.main {
					transform: translate(-50%, calc(-50% - 20px));
				}
			}
		}
	}

	&.countdown {
		header, section, footer {
			opacity: 0;
		}
		header {
			transform: translateX(20px);
			@include respond-to(md) {
				transform: translateX(0);
			}
		}
		footer {
			transform: translateX(-20px);
			@include respond-to(md) {
				transform: translateX(0);
			}
		}
	}

	&.road-map {
		h2 {
			opacity: 0;
		}
		& > div {
			ul {
				li {
					opacity: 0;
				}
			}

			.progress {
				height: 0% !important;
			}
		}
	}

	&.goals {
		h2 {
			opacity: 0;
		}
		& > ul {
			& > li {
				& > div {
					opacity: 0;
					&:first-child {
						transform: translateX(-20px);
					}
					&:last-child {
						transform: translateX(20px);
					}
				}
			}
		}
		p {
			opacity: 0 !important; transform: translateX(20px);
		}
	}

	.team > & {
		&:not(ul), & > li {
			opacity: 0;
		}
		& > li {
			transform: translateY(20px);
		}
	}

	&.news {
		h2, .item {
			opacity: 0;
		}
		.item {
			transform: translateY(20px);
		}
	}

	&.massmedia {
		h2, .item {
			opacity: 0;
		}
	}

	&.subscription {
		h2 {
			opacity: 0;
		}
		form {
			width: 25%; opacity: 0;
			@include respond-to(md) {
				width: 38%;
			}
			@include respond-to(sm) {
				width: 50%;
			}
		}
		p {
			opacity: 0; transform: translateY(20px);
		}
	}
}

// list cycles for animation (transitions)
@for $i from 1 through 10 {
	.intro-partners .owl-item:nth-child(#{$i}) {
		transition: opacity 0.4s ($i+18)*0.1s ease-out;
	}
}
@for $i from 1 through 3 {
	.benefits section li:nth-child(#{$i}) {
		transition: opacity 0.4s ($i+2)*0.1s ease-out;
	}
}
@for $i from 1 through 3 {
	.why-need section p:nth-of-type(#{$i}) {
		transition: opacity 0.4s ($i+4)*0.1s ease-out;
	}
}
@for $i from 1 through 3 {
	.problems-solutions ul.problems li:nth-child(#{$i}) {
		transition: opacity 0.4s (2*$i+1)*0.15s ease-out;

		&:before {
			transition: height 0.6s (2*$i+1)*0.15s ease-out;
		}
	}
	.problems-solutions ul.solutions li:nth-child(#{$i}) {
		transition: opacity 0.4s (2*$i+2)*0.15s ease-out;
	}
}
@for $i from 1 through 4 {
	.scheme .scheme-simple header ul li:nth-child(#{$i}) {
		img {
			transition: opacity 0.4s (2*$i+3)*0.15s ease-out;
		}

		&:after {
			transition: opacity 0.4s (2*$i+4)*0.15s ease-out;
		}
	}
	.scheme .scheme-simple section ul li:nth-child(#{$i}) {
		transition: opacity 0.4s ($i+18)*0.1s ease-out;
	}
}
@for $i from 1 through 20 {
	.road-map > div ul li:nth-child(#{$i}) {
		transition: opacity 0.4s ($i+1)*0.1s ease-out;
	}
}
@for $i from 1 through 3 {
	.goals > ul > li:nth-child(#{$i}) > div:first-child {
		transition: opacity 0.4s (2*$i+1)*0.1s ease-out, transform 0.4s (2*$i+1)*0.1s ease-out;
	}
	.goals > ul > li:nth-child(#{$i}) > div:last-child {
		transition: opacity 0.4s (2*$i+2)*0.1s ease-out, transform 0.4s (2*$i+2)*0.1s ease-out;
	}
}
@for $i from 1 through 15 {
	.team > ul > li:nth-child(#{$i}) {
		transition: opacity 0.4s ($i+1)*0.1s ease-out, transform 0.4s ($i+1)*0.1s ease-out;
	}
}
@for $i from 1 through 5 {
	.news .owl-item:nth-child(#{$i}) .item {
		transition: opacity 0.4s ($i+1)*0.1s ease-out, transform 0.4s ($i+1)*0.1s ease-out;
	}
}
@for $i from 1 through 6 {
	.massmedia .owl-item:nth-child(#{$i}) .item {
		transition: opacity 0.4s ($i+1)*0.1s ease-out;
	}
}
// @for $i from 1 through 10 {
// 	.infrastructure .scheme .center .list-left li:nth-child(#{$i}) {
// 		transition: opacity 0.3s ($i+2)*0.1s ease-out, transform 0.3s ($i+2)*0.1s ease-out;
// 	}
// 	.infrastructure .scheme .center .list-top li:nth-child(#{$i}) {
// 		transition: opacity 0.3s ($i+6)*0.1s ease-out, transform 0.3s ($i+6)*0.1s ease-out;
// 	}
// 	.infrastructure .scheme .center .list-right li:nth-child(#{$i}) {
// 		transition: opacity 0.3s ($i+11)*0.1s ease-out, transform 0.3s ($i+11)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 3 {
// 	.emission .scheme > div:nth-child(2) ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i+9)*0.1s ease-out, transform 0.4s ($i+9)*0.1s ease-out;
// 	}
// 	.emission .scheme > div:nth-child(2) ul li:nth-child(#{$i}):before {
// 		transition: opacity 0.4s ($i+9)*0.1s ease-out, transform 0.4s ($i+9)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 5 {
// 	.emission .scheme > div:last-child ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i+15)*0.1s ease-out, transform 0.4s ($i+15)*0.1s ease-out;
// 	}
// 	.emission .scheme > div:last-child ul li:nth-child(#{$i}):before {
// 		transition: transform 0.4s ($i+15)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 3 {
// 	.platform-pros section ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i + 5)*0.15s ease-out, transform 0.4s ($i + 5)*0.15s ease-out;
// 	}
// }
// @for $i from 1 through 2 {
// 	.platform-intro ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i + 5)*0.15s ease-out, transform 0.4s ($i + 5)*0.15s ease-out;
// 		@include respond-to(md) {
// 			transition: opacity 0.4s ($i + 4)*0.15s ease-out, transform 0.4s ($i + 4)*0.15s ease-out;
// 		} 
// 	}
// 	.platform-intro ul li:nth-child(#{$i}):before {
// 		transition: opacity 0.4s ($i + 5)*0.15s ease-out, transform 0.4s ($i + 5)*0.15s ease-out;
// 		@include respond-to(md) {
// 			transition: opacity 0.4s ($i + 4)*0.15s ease-out, transform 0.4s ($i + 4)*0.15s ease-out;
// 		} 
// 	}
// }
// @for $i from 1 through 3 {
// 	.testimonials .owl-item:nth-child(#{$i}) .testimonials-item {
// 		transition: opacity 0.4s ($i - 1)*0.15s ease-out, transform 0.4s ($i - 1)*0.15s ease-out;
// 	}
// }
// @for $i from 1 through 25 {
// 	.road-map figure figcaption ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i + 3)*0.1s ease-out;
// 	}
// }
// @for $i from 2 through 6 {
// 	.goals ul li:nth-child(#{$i}) > div:first-child {
// 		transition: opacity 0.4s ($i + 1)*0.1s ease-out, transform 0.4s ($i + 1)*0.1s ease-out;
// 	}
// 	.goals ul li:nth-child(#{$i}) > div:last-child {
// 		transition: opacity 0.4s ($i + 1)*0.1s ease-out, transform 0.4s ($i + 1)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 12 {
// 	.team > section > ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i - 1)*0.1s ease-out, transform 0.4s ($i - 1)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 30 {
// 	.massmedia ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i + 1)*0.1s ease-out, transform 0.4s ($i + 1)*0.1s ease-out;
// 	}
// }
// @for $i from 1 through 3 {
// 	.massmedia .carousel-massmedia .owl-item:nth-child(#{$i}) .item {
// 		transition: opacity 0.4s ($i+14)*0.15s ease-out;
// 	}
// }
// @for $i from 1 through 2 {
// 	.videos ul li:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i+1)*0.15s ease-out;
// 	}
// }
// @for $i from 2 through 4 {
// 	.whitepaper section div:nth-child(#{$i}) {
// 		transition: opacity 0.4s ($i+3)*0.15s ease-out, transform 0.4s ($i+3)*0.15s ease-out;
// 	}
// }