.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-size: 5.5em 43.1em;

      .no-svg & {
        background-image: url("../img/sprite.png");
      }
    }
}




.icon.bitcoin_black {
  &:before {
      background-position: 0em 0em;
      width: 2.1em;
      height: 2.1em;
    }
  }

  @mixin icon-bitcoin_black(){
    @extend .bitcoin_black;
  }


.icon.blockchain_system {
  &:before {
      background-position: 0em -2.1em;
      width: 3.3em;
      height: 2.9em;
    }
  }

  @mixin icon-blockchain_system(){
    @extend .blockchain_system;
  }


.icon.documents {
  &:before {
      background-position: 0em -5em;
      width: 1em;
      height: 1.5em;
    }
  }

  @mixin icon-documents(){
    @extend .documents;
  }


.icon.for_cryptomarket {
  &:before {
      background-position: 0em -6.5em;
      width: 2.2em;
      height: 2.3em;
    }
  }

  @mixin icon-for_cryptomarket(){
    @extend .for_cryptomarket;
  }


.icon.for_retail {
  &:before {
      background-position: 0em -8.8em;
      width: 2.2em;
      height: 2.6em;
    }
  }

  @mixin icon-for_retail(){
    @extend .for_retail;
  }


.icon.hight_cost {
  &:before {
      background-position: 0em -11.4em;
      width: 3.6em;
      height: 3em;
    }
  }

  @mixin icon-hight_cost(){
    @extend .hight_cost;
  }


.icon.how_chek_works {
  &:before {
      background-position: 0em -14.4em;
      width: 3.9em;
      height: 3.9em;
    }
  }

  @mixin icon-how_chek_works(){
    @extend .how_chek_works;
  }


.icon.icon-doc {
  &:before {
      background-position: 0em -18.3em;
      width: 1em;
      height: 1.5em;
    }
  }

  @mixin icon-icon-doc(){
    @extend .icon-doc;
  }


.icon.illigal_of_crypto {
  &:before {
      background-position: 0em -19.8em;
      width: 3.6em;
      height: 3.7em;
    }
  }

  @mixin icon-illigal_of_crypto(){
    @extend .illigal_of_crypto;
  }


.icon.limited_opportunites {
  &:before {
      background-position: 0em -23.5em;
      width: 2.9em;
      height: 2.6em;
    }
  }

  @mixin icon-limited_opportunites(){
    @extend .limited_opportunites;
  }


.icon.loyality_system {
  &:before {
      background-position: 0em -26.1em;
      width: 3.5em;
      height: 3.6em;
    }
  }

  @mixin icon-loyality_system(){
    @extend .loyality_system;
  }


.icon.mail-ico {
  &:before {
      background-position: 0em -29.7em;
      width: 2.1em;
      height: 2.2em;
    }
  }

  @mixin icon-mail-ico(){
    @extend .mail-ico;
  }


.icon.more_then_150k {
  &:before {
      background-position: 0em -31.9em;
      width: 3.2em;
      height: 3.1em;
    }
  }

  @mixin icon-more_then_150k(){
    @extend .more_then_150k;
  }


.icon.play {
  &:before {
      background-position: 0em -35em;
      width: 5.5em;
      height: 5.5em;
    }
  }

  @mixin icon-play(){
    @extend .play;
  }


.icon.whyblockchain {
  &:before {
      background-position: 0em -40.5em;
      width: 3.5em;
      height: 2.6em;
    }
  }

  @mixin icon-whyblockchain(){
    @extend .whyblockchain;
  }



