.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;

	&.agreement-page {
		padding-top: 0;
	}

	.wr {
		&-header {
			height: 64px; position: fixed; top: 0; left: 0; width: 100%; padding: 0 53px 0 41px; z-index: 1000;
			background: transparent;
			@include respond-to(lg) {
				padding: 0 15px;
			}

			&:before {
				content: '';
				display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1;
				background: radial-gradient(circle 700px at 68.53% 200%, #dd669b 0%, #5d25a8 100%); box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
				opacity: 0;
				transition: opacity 0.2s ease-out;
			}

			&.background {
				&:before {
					opacity: 1;
				}	
			}
		}

		&-intro {
			padding: 128px 0 0; position: relative;
			// background: radial-gradient(circle 700px at 68.53% 28%, #dd669b 0%, #5d25a8 100%);
			background: url('../img/main.png') center center no-repeat;
			background-size: cover;
		}

		&-about {
			padding: 92px 0 82px;

			@include respond-to(xs) {
				padding-bottom: 60px;
			}
		}

		&-for-clients {
			padding: 63px 0 75px;
			background: #fbfbfe;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-benefits {
			padding: 66px 0 81px;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-why-need {
			padding: 14px 0 5px;
			background: radial-gradient(circle 1126px at -14.27% 3.5438%, #dd669b 0%, #553d97 100%);

			@include respond-to(lg) {
				padding: 60px 0;
			}
		}

		&-problems-solutions {
			padding: 92px 0 65px;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-scheme {
			padding: 78px 0 70px;
			background: #fbfbfe;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-market {
			padding: 44px 0 20px;
		}

		&-worldmap {
			padding: 305px 0 160px; margin-top: -160px; position: relative;
			background: linear-gradient(to bottom, #ffffff 0%, #e8e8f3 160px, #e8e8f3 100%);

			@include respond-to(md) {
				padding: 570px 0 160px; margin-top: -560px;
			}
			@include respond-to(xs) {
				padding-bottom: 80px;
			}

			&:before {
				content: '';
				display: block; width: 1436px; height: 693px; position: absolute; right: -136px; bottom: -44px; z-index: 1;
				background: url('../img/map.svg') center center no-repeat;
				transition: opacity 0.4s ease-out;

				@include respond-to(lg) {
					right: auto; left: -10%;
				}
				@include respond-to(md) {
					left: 0;
				}
			}

			& > * {
				position: relative; z-index: 2;
			}
		}

		&-partners {
			
		}

		&-mvp {
			padding: 22px 0 60px;
			background: linear-gradient(180deg, #f8f8ff 0%, #fbfbfe 100%);

			@include respond-to(sm) {
				padding: 60px 0;
			}
		}

		&-testimonials {
			padding: 96px 0 76px;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-ico {
			padding: 71px 0 103px; position: relative;
			background-image: radial-gradient(circle 1005px at 74.76% 14.1684%, #dd669b 0%, #5e25a8 100%); background-size: cover;

			@include respond-to(xs) {
				padding-bottom: 60px;
			}
		}

		&-discount {
			padding: 86px 0 78px;
			background: $white;
			@include respond-to(md) {
				padding-bottom: 110px;
			}
			@include respond-to(669px) {
				padding-bottom: 90px;
			}
			@include respond-to(xs) {
				padding-bottom: 70px;
			}
			@include respond-to(419px) {
				padding: 60px 0;
			}
			@include respond-to(379px) {
				padding: 60px 0 40px;
			}
		}

		&-countdown {
			padding: 55px 0 57px;
			background: #fafafa;
		}

		&-road-map {
			padding: 76px 0 105px;
			background: $white;

			@include respond-to(xs) {
				padding: 60px 0 120px;
			}
		}

		&-goals {
			padding: 64px 0 60px;
			background: #fafafa;

			@include respond-to(xs) {
				padding-top: 45px;
			}
		}

		&-team {
			padding: 45px 0 40px;
			background: $white;
			@include respond-to(sm) {
				padding: 60px 0;
			}
		}

		&-news {
			padding: 32px 0 49px;
		}

		&-massmedia {
			padding: 70px 0 81px;
			background: $white;

			@include respond-to(xs) {
				padding: 60px 0;
			}
		}

		&-subscription {
			padding: 45px 0 49px; position: relative;
			background: radial-gradient(852px 426px at 66.53% 59.108%, #dd669b 0%, #5d25a8 100%);
		}

		&-agreement {
			padding: 80px 0 100px;
			background: #f4f4ff;
		}
		
		&-footer {
			padding: 15px 0 50px;
			background: $white;
		}
	}
}