/*************************/
/******** Colors *********/
/*************************/

$white: white;
$black: black;

$brand: #3a82ff;



/*************************/
/********* Fonts *********/
/*************************/
$ms-300: museosanscyrl-300, sans-serif;
$ms-500: museosanscyrl-500, sans-serif;
$ms-700: museosanscyrl-700, sans-serif;